{% load static %}
{% include './form_header.html' %}
  <body>
    {% include './form_navbar.html' %}
    {% block content %}
      {% if validlink %}
        <h1>Digite (e confirme) sua nova senha.</h1>
        <form action="" method="post">
          {% csrf_token %}
          <section class='flex_col_center'>
            <div class='fields'>
              <h1>{{ form.new_password1.errors }}</h1>
              <h1><label for="id_new_password1">Nova Senha:</label></h1>
            </div>
            <br>
            <div class='fields'>
              <h2>{{ form.new_password1 }}</h2>
              <h1>{{ form.new_password2.errors }}</h1>
            </div>
            <br>
            <div class='fields'>
              <h1><label for="id_new_password2">Confirme a Senha:</label></h1>
              <h2>{{ form.new_password2 }}</h2>
            </div>
            <br>
            <div class='buttons'>
              <input type="submit" value="Mudar Senha" />
            </div>
          </section>
        </form>
      {% else %}
      <section class='flex_col_center'>
        <div class='card'>
          <div class='container'>
            <h1>Mudança de senha falhou.</h1>
            <h1>O link usado para mudar a senha é inválido, provavelmente porque já foi usado.</h1>
            <h1>Peça a mudança de sehna novamente.</h1>
          </div>
        </div>
      </section>
      {% endif %}
    {% endblock %}
    {% include './form_footer.html' %}
  </body>
</html>
