{% load static %}
{% include './form_header.html' %}
  <body>
    {% include './form_navbar.html' %}
    <form action="" method="post">
      {% csrf_token %}
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
        <section class='flex_col_center'>
          <div class='fields'>
            <h1>E-mail Registrado:</h1>
            <h2>{{ form.email }}</h2>
          </div>
          <br><br>
          <div class='buttons'>
            <input type="submit" value="Mudar a Senha" style='left:44.5%;'/>
          </div>
        </section>
    </form>
    {% include './form_footer.html' %}
  </body>
</html>
