{% load static %}
{% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <h1>Tabela de Dados Usados Para Treinar e Testar o Modelo:</h1>
    <br>
    <section class='flex_col_center' id='tteste'>
      <div class='card'>
        <table class="fixed_header">
          <thead>
            <tr>
              <th scope='col'>Id</th>
              <th scope='col'>Atributo</th>
              <th scope='col'>Valor-Chave</th>
            </tr>
          </thead>
          <tbody>
          {% for e in lista_exemplos %}
            <tr>
              <td data-label='Id'>{{e.id}}</td>
              <td data-label='Atributo'>{{e.X}}</td>
              <td data-label='Valor-Chave'>{{e.Y}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <script src="{% static 'js/sidenav.js' %}"></script>
  </body>
</html>
