{% load static %}
<!doctype html>
{% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <h1>Membros do Grupo</h1>
    <br>
    <section class='flex_col_stretch'>
      <div class='card'>
        <div class='container'>
          <h1 style='font-size:30px;'>Lucas Carvalho</h1>
          <h2 style='font-size:27px;'>RA: RA00319146</h2>
        </div>
      </div>
      <div class='card'>
        <div class='container'>
          <h1 style='font-size:30px;'>Rafael Amaranto</h1>
          <h2 style='font-size:27px;'>RA: RA00319642</h2>
        </div>
      </div>
      <div class='card'>
        <div class='container'>
          <h1 style='font-size:30px;'>Octávio Almeida</h1>
          <h2 style='font-size:27px;'>RA: RA00320212</h2>
        </div>
      </div>
      <div class='card'>
        <div class='container'>
          <h1 style='font-size:30px;'>Arthur Ferreira</h1>
          <h2 style='font-size:27px;'>RA: RA00304715</h2>
        </div>
      </div>
      <div class='card'>
        <div class='container'>
          <h1 style='font-size:30px;'>Gabriel Pasquotto</h1>
          <h2 style='font-size:27px;'>RA: RA00320120</h2>
        </div>
      </div>
    </section>
    <script src="{% static 'js/sidenav.js' %}"></script>
  </body>
</html>
