    <section class='flex_nav'>
      <div>
        <a href="/">Página Inicial</a>
      </div>
      <div>
        <a href="/graficos">Gráficos</a>
      </div>
      <div>
        <a href="/info_modelo">Informações sobre o Modelo</a>
      </div>
      <div>
        <a href="/info_tema">Informações sobre o Tema</a>
      </div>
      <div>
        <a href="/modelo">Modelo</a>
      </div>
      <div>
        <a href="/membros">Membros do Grupo</a>
      </div>
        {% block navbar_mob %}
          {% if request.user.is_authenticated %}
          <div>
            <a href="/accounts/logout">Logout</a>
          </div>
          {% else %}
          <div>
            <a href="/accounts/login">Login</a>
          </div>
          <div>
            <a href="/registro">Registre-se</a>
          </div>
          {% endif %}
        {% endblock %}
    </section>
    <section class='flex_nav_mob'>
      <div>
        <a href="javascript:void(0)" onclick="openNav()">Menu</a>
      </div>
      <section id='mobnav' class='flex_nav_mob dropdown'>
        <div>
          <a href="javascript:void(0)" onclick="closeNav()">Fechar Menu</a>
        </div>
        <div>
          <a href="/">Página Inicial</a>
        </div>
        <div>
          <a href="/graficos">Gráficos</a>
        </div>
        <div>
          <a href="/info_modelo">Informações sobre o Modelo</a>
        </div>
        <div>
          <a href="/info_tema">Informações sobre o Tema</a>
        </div>
        <div>
          <a href="/modelo">Modelo</a>
        </div>
        <div>
          <a href="/membros">Membros do Grupo</a>
        </div>
        {% block navbar %}
          {% if request.user.is_authenticated %}
          <div>
            <a href="/accounts/logout">Logout</a>
          </div>
          {% else %}
          <div>
            <a href="/accounts/login">Login</a>
          </div>
          <div>
            <a href="/registro">Registre-se</a>
          </div>
          {% endif %}
        {% endblock %}
      </section>
    </section>
    <br>
