{% load static %}
<!doctype html>
{% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <section class='flex_col_stretch'>
      <div class='card'>
        <div class='container'>
          <h1>Modelo Utilizando Algoritmo {{alg_nome}}</h1>
          <h1>Insira o Parâmetro Que Deseja Testar e os Valores Para Serem Testados</h1>
        </div>
      </div>
    </section>
    <form method='post' onsubmit="showCarregando()">
      {% csrf_token %}
      <section class='flex_col_center'>
        <div class='fields'>
          <h2>Parâmetro</h2>
          <h2><input type='text' name='parametro'></input></h2>
        </div>
        <div class='fields'>
          <h2>Valores ([v1,v2,v3,...])</h2>
          <h2><input type='text' name='valores'></input></h2>
        </div>
        <div class='buttons'>
          <input type='submit' value='Testar'></input>
        </div>
      </section>
    </form>
    <section class='flex_col_center'>
      <div id='carregando'></div>
    </section>
    <script src="{% static 'js/sidenav.js' %}"></script>
  </body>
</html>
