{% load static %}
<!doctype html>
{% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <section class='flex_col_stretch'>
      <div>
        <h1>Teste De Performance Variando o Parâmetro {{param}}</h1>
        <h1> Para Modelo Utilizando Algoritmo {{alg_nome}}</h1>
      </div>
      <div class='card'>
        <div class='container'>
          <h2>Gráfico de Linhas Parâmetro vs. Avaliação</h2>
        </div>
      </div>
    </section>
    <br>
    <section class='flex_col_center'>
      <div class='card'>
        <img id='tvalimg' src="data:image/png;base64,{{fig}}">
      </div>
    </section>
    <script src="{% static 'js/sidenav.js' %}"></script>
  </body>
</html>
