{% load static %}
<!doctype html>
{% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <section class='flex_col_stretch'>
      <div class='card'>
        <div class='container'>
          <h1>Função do Modelo Utilizando Algoritmo {{alg_nome}}:</h1>
        </div>
      </div>
    </section>
    <br>
    <section class='flex_col_center'>
      <div class='card'>
        <img id='tvalimg' src="data:image/png;base64,{{disp}}"/>
      </div>
    </section>
    <br>
    <section class='flex_col_center'>
      <div id='carregando'></div>
    </section>
    <section class='flex_col_stretch'>
      <div class='card'>
        <div class='container'>
          <h1><a href='/outros_modelos/{{alg}}/prever'>Fazer Nova Previsão</a></h1>
        </div>
      </div>
      <br>
      <div class='card'>
        <div class='container'>
          <h1><a href='/outros_modelos/{{alg}}/validacao_modelo' onclick="showCarregando()">Avaliar Modelo</a></h1>
        </div>
      </div>
      <div class='card'>
        <div class='container'>
          <h1><a href='/outros_modelos/{{alg}}/teste_params'>Treinar e Comparar Modelos Variando um Parâmetro</a></h1>
        </div>
      </div>
    </section>
    <script src="{% static 'js/sidenav.js' %}"></script>
  </body>
</html>
