{% load static %}
<!doctype html>
{% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <section class='flex_col_stretch'>
      <div class='card'>
        <div class='container'>
          <h1>Insira o Parâmetro Que Deseja Testar e os Valores Para Serem Testados</h1>
          <h2>Parâmetros da Árvore de Decisão Utilizados Para Controlar sua Complexidade:</h2>
          <h2>'max_depth' = Profundidade Máxima da Árvore, isto é quantidade máxima de regras (Nós), excluindo a primeira, que a árvore pode possuir.</h2>
          <h2>'max_leaf_nodes'= Quantidade Máxima de Valores Únicos para as Previsões (Nós Folha) que a árvore pode possuir.</h2>
          <h2>Para saber todos os parâmetros acesse a documentação da implementação utilizada <a href='https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html'>clicando aqui.</a></h2>
        </div>
      </div>
    </section>
    <form method='post'>
      {% csrf_token %}
      <section class='flex_col_center'>
        <div class='fields'>
          <h2>Parâmetro</h2>
          <h2><input type='text' name='parametro'></input></h2>
        </div>
        <div class='fields'>
          <h2>Valores ([v1,v2,v3,...])</h2>
          <h2><input type='text' name='valores'></input></h2>
        </div>
        <div class='buttons'>
          <input type='submit' value='Testar'></input>
        </div>
      </section>
    </form>
    <script src="{% static 'js/sidenav.js' %}"></script>
  </body>
</html>
